

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<META     HTTP-EQUIV="Pragma"     CONTENT="no-cache">  
<META     HTTP-EQUIV="Cache-Control"     CONTENT="no-cache">  
<META     HTTP-EQUIV="Expires"     CONTENT="0">  
</head>
<body>
<a href="sangforpocket://com.sangfor.pocket">正式版</a> </br></br>
<a href="sangforpocket://com.sangfor.procuratorate">移动检务</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=notify">跳到通知</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=workattendance">跳到考勤</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=workflow">跳到流程</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=task">跳到任务</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=legwork">跳到客户拜访</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=customer">跳到客户</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=salesopp">跳到销售机会</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=cloud">跳到云盘</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=moment">跳到同事圈</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=friend">推荐好友</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=roster">跳到通讯录</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=app">跳到应用列表</a> </br></br>
<a href="sangforpocket://com.sangfor.pocket/mod=workreport">跳到工作汇报</a> </br></br></br>


<a href="sangforpocketassistant://com.sangfor.PocketAssistant">iOS Beta</a></br></br> 
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=notify">跳到通知</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=workattendance">跳到考勤</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=workflow">跳到流程</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=task">跳到任务</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=legwork">跳到客户拜访</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=customer">跳到客户</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=salesopp">跳到销售机会</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=cloud">跳到云盘</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=moment">跳到同事圈</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=friend">推荐好友</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=roster">跳到通讯录</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=app">跳到应用列表</a> </br></br>
<a href="sangforpocketassistant://com.sangfor.PocketAssistant/mod=workreport">跳到工作汇报</a> </br></br></br>

<a href="sangfor://easyconnect">android ec</a>
<a href="iOSEasyConnect://ssl.sangfor.com">ios ec</a>
</body>
